{{define "content"}}
   <div class="row">
    <h1 class="page-header"> Users </h1>
    <a href="/admin/user/new" class="btn btn-default"> New User </a>
  </div>
  {{with .}}
    <br/>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th> Email </th>
            <th> Company </th>
            <th> Login </th>
            <th> Created By </th>
            <th> Delete </th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
            <tr>
              <td> {{.Email}} </td>
              {{with .Company}}
                <td> {{.Name}} </td>
              {{else}}
                <td></td>
              {{end}}
              <td> {{date .LastLoginOn}} </td>
              <td> {{.CreatedBy}} </td>
              <td> <a href="/admin/user/delete?id={{.ID}}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"></span> Delete </a> </td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="clear-fix"></div>
  {{end}}
{{end}}